# Do not rate this.

## This is a test with one classifier per column, it does not improve the accuracy and is harder to analyze, so I decided to keep it simpler.

In [2]:
import pandas as pd

vanilla_df = pd.read_csv('data.csv', sep=';', index_col=0)

vanilla_df.head(20)

,Auftragskonto,Buchungstag,Valutadatum,Buchungstext,Verwendungszweck,Beguenstigter/Zahlungspflichtiger,Kontonummer,BLZ,Betrag,Waehrung,label
0,89990201.0,28.07.2016,28.07.2016,Lohn / Gehalt,Gehalt Adorsys GmbH & Co. KG End-To-End-Ref.: ...,Adorsys GmbH & Co. KG,7807800780,25190001,2000.00,EUR,income
1,89990201.0,27.07.2016,27.07.2016,Miete,Byladem1Sbt De12773501123456789889 Miete Beuth...,Georg Tasche,DE31251900019123456780,VOHADE2HXXX,-670.00,EUR,living
2,89990201.0,21.07.2016,21.07.2016,Bargeld,"21.07/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur...",Bargeld,9999900780,25190001,-70.00,EUR,private
3,89990201.0,20.07.2016,20.07.2016,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-07-20...,Kartenzahlung,9736000780,25190001,-73.21,EUR,standardOfLiving
4,89990201.0,18.07.2016,18.07.2016,Spontanausgabe,Amazon,neue Playstation,9988776655,25125100,-363,EUR,leisure
5,89990201.0,15.07.2016,15.07.2016,Mieteinnahmen,Mietzuschuss End-To-End-Ref.: Notprovided Kund...,Isabel Anna,DE31251900019736000780,VOHADE2HXXX,200.00,EUR,finance
6,89990201.0,08.07.2016,08.07.2016,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-05-09...,Kartenzahlung,9736000780,25190001,-19.99,EUR,standardOfLiving
7,89990201.0,05.07.2016,05.07.2016,Drogerie,Dm Fil.1137 H:65128//Nuernberg/De 2 016-04-19T...,Dm Drogeriemarkt Sagt Danke,7755566780,25190001,-28.85,EUR,standardOfLiving
8,89990201.0,04.07.2016,04.07.2016,Geldanlage,Ccbade31Xxx De71310108339900123456 Sparen End-...,Michael Koffer,DE69790800529736000780,DRESDEFF790,-300.00,EUR,finance
9,89990201.0,01.07.2016,01.07.2016,Bargeld,"16.02/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur...",Bargeld,9999900780,25190001,-50.00,EUR,private
10,89990201.0,29.06.2016,29.06.2016,Lohn / Gehalt,Gehalt Adorsys GmbH & Co. KG End-To-End-Ref.: ...,Adorsys GmbH & Co. KG,7807800780,25190001,2000.00,EUR,income
11,89990201.0,28.06.2016,28.06.2016,Miete,Byladem1Sbt De12773501123456789889 Miete Beuth...,Georg Tasche,DE31251900019123456780,VOHADE2HXXX,-670.00,EUR,living
12,89990201.0,15.06.2016,15.06.2016,Mieteinnahmen,Mietzuschuss End-To-End-Ref.: Notprovided Kund...,Isabel Anna,DE31251900019736000780,VOHADE2HXXX,200.00,EUR,finance
13,89990201.0,10.06.2016,10.06.2016,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-05-10...,Kartenzahlung,9736000780,25190001,-25.99,EUR,standardOfLiving
14,89990201.0,08.06.2016,08.06.2016,Drogerie,Dm Fil.1137 H:65128//Nuernberg/De 2 016-02-16T...,Dm Drogeriemarkt Sagt Danke,7755566780,25190001,-19.99,EUR,standardOfLiving
15,89990201.0,03.06.2016,03.06.2016,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-05-04...,Kartenzahlung,9736000780,25190001,-73.21,EUR,standardOfLiving
16,89990201.0,02.06.2016,02.06.2016,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-06-02...,Kartenzahlung,9736000780,25190001,-10.00,EUR,standardOfLiving
17,89990201.0,02.06.2016,02.06.2016,Geldanlage,Ccbade31Xxx De71310108339900123456 Sparen End-...,Michael Koffer,DE69790800529736000780,DRESDEFF790,-300.00,EUR,finance
18,89990201.0,01.06.2016,01.06.2016,Drogerie,Dm Fil.1137 H:65128//Nuernberg/De 2 016-06-01T...,Dm Drogeriemarkt Sagt Danke,7755566780,25190001,-28.85,EUR,standardOfLiving
19,89990201.0,01.06.2016,01.06.2016,Bargeld,"01.06/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur...",Bargeld,9999900780,25190001,-70.00,EUR,private

In [3]:
vanilla_df['Waehrung'].value_counts(normalize=True)

EUR    1.0
Name: Waehrung, dtype: float64

In [4]:
vanilla_df['Auftragskonto'].value_counts(normalize=True)

89990210.0    0.714286
89990201.0    0.285714
Name: Auftragskonto, dtype: float64

In [5]:
# Check how often Buchung and Valuta date are actually different
count = 0
for i in range(len(vanilla_df)):
    if vanilla_df['Buchungstag'][i]!=vanilla_df['Valutadatum'][i]:
        count += 1
count

1

In [6]:
import math

# Conclusion of inital data analysis: drop Wahrung and Valutadatum as they are of no real use
reduced_df = vanilla_df.drop(columns=['Waehrung', 'Valutadatum'])

# Condense Buchungstag date to day only as month and year seldomly change
reduced_df['Buchungstag'] = reduced_df['Buchungstag'].apply(lambda x: x[0:2])

# Insert column Abbuchung which is true for negative transactions
reduced_df.insert(len(reduced_df.columns)-1, 'Abbuchung', reduced_df['Betrag'].apply(lambda x: float(x.replace(',', '.')) < 0))

# Remove sign from Betrag values and round them to nearest ten as it is more about coarse amount than exact values
reduced_df['Betrag'] = reduced_df['Betrag'].apply(lambda x: math.ceil(abs(float(x.replace(',', '.')))/10.0)*10)

# For each column except labels: convert to string, remove case and punctuation/special characters
for col in reduced_df.columns[:-1]:
    reduced_df[col] = reduced_df[col].apply(str).str.replace('\W', ' ').str.lower()

reduced_df.head(20)

,Auftragskonto,Buchungstag,Buchungstext,Verwendungszweck,Beguenstigter/Zahlungspflichtiger,Kontonummer,BLZ,Betrag,Abbuchung,label
0,89990201 0,28,lohn gehalt,gehalt adorsys gmbh co kg end to end ref ...,adorsys gmbh co kg,7807800780,25190001,2000,false,income
1,89990201 0,27,miete,byladem1sbt de12773501123456789889 miete beuth...,georg tasche,de31251900019123456780,vohade2hxxx,670,true,living
2,89990201 0,21,bargeld,21 07 16 34uhr nuernberg all eur 70 00 geb eur...,bargeld,9999900780,25190001,70,true,private
3,89990201 0,20,lebensmittel getraenke,2831 edeka neubauer nuernb nuernb 2016 07 20...,kartenzahlung,9736000780,25190001,80,true,standardOfLiving
4,89990201 0,18,spontanausgabe,amazon,neue playstation,9988776655,25125100,370,true,leisure
5,89990201 0,15,mieteinnahmen,mietzuschuss end to end ref notprovided kund...,isabel anna,de31251900019736000780,vohade2hxxx,200,false,finance
6,89990201 0,08,lebensmittel getraenke,2831 edeka neubauer nuernb nuernb 2016 05 09...,kartenzahlung,9736000780,25190001,20,true,standardOfLiving
7,89990201 0,05,drogerie,dm fil 1137 h 65128 nuernberg de 2 016 04 19t...,dm drogeriemarkt sagt danke,7755566780,25190001,30,true,standardOfLiving
8,89990201 0,04,geldanlage,ccbade31xxx de71310108339900123456 sparen end ...,michael koffer,de69790800529736000780,dresdeff790,300,true,finance
9,89990201 0,01,bargeld,16 02 16 34uhr nuernberg all eur 70 00 geb eur...,bargeld,9999900780,25190001,50,true,private
10,89990201 0,29,lohn gehalt,gehalt adorsys gmbh co kg end to end ref ...,adorsys gmbh co kg,7807800780,25190001,2000,false,income
11,89990201 0,28,miete,byladem1sbt de12773501123456789889 miete beuth...,georg tasche,de31251900019123456780,vohade2hxxx,670,true,living
12,89990201 0,15,mieteinnahmen,mietzuschuss end to end ref notprovided kund...,isabel anna,de31251900019736000780,vohade2hxxx,200,false,finance
13,89990201 0,10,lebensmittel getraenke,2831 edeka neubauer nuernb nuernb 2016 05 10...,kartenzahlung,9736000780,25190001,30,true,standardOfLiving
14,89990201 0,08,drogerie,dm fil 1137 h 65128 nuernberg de 2 016 02 16t...,dm drogeriemarkt sagt danke,7755566780,25190001,20,true,standardOfLiving
15,89990201 0,03,lebensmittel getraenke,2831 edeka neubauer nuernb nuernb 2016 05 04...,kartenzahlung,9736000780,25190001,80,true,standardOfLiving
16,89990201 0,02,lebensmittel getraenke,2831 edeka neubauer nuernb nuernb 2016 06 02...,kartenzahlung,9736000780,25190001,10,true,standardOfLiving
17,89990201 0,02,geldanlage,ccbade31xxx de71310108339900123456 sparen end ...,michael koffer,de69790800529736000780,dresdeff790,300,true,finance
18,89990201 0,01,drogerie,dm fil 1137 h 65128 nuernberg de 2 016 06 01t...,dm drogeriemarkt sagt danke,7755566780,25190001,30,true,standardOfLiving
19,89990201 0,01,bargeld,01 06 16 34uhr nuernberg all eur 70 00 geb eur...,bargeld,9999900780,25190001,70,true,private

In [170]:
# split data
randomized_df = reduced_df.sample(frac=1)#, random_state=2)

split_index = round(len(randomized_df) * 0.75)

training_df = randomized_df[:split_index]
test_df = randomized_df[split_index:]

print(training_df.shape)
print(test_df.shape)

(157, 10)
(52, 10)

In [171]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB

labels = training_df["label"].array
cvecs = list()
#feature_counts = list()
models = list()

for i, col in enumerate(training_df.columns[:-1]):
    cvec = CountVectorizer()
    cvec.fit(list(training_df[col]))
    counts = cvec.transform(list(training_df[col])).toarray()
    model = GaussianNB()
    model.fit(counts, labels)
    
    cvecs.append(cvec)
    #feature_counts.append(counts)
    models.append(model)

In [172]:
test_labels = test_df["label"].array
classes = models[0].classes_

def classify_test_df_at(index):
    
    prob_sum = list(0 for i in range(len(classes)))
    sample = test_df.iloc[index]
    
    for i, col in enumerate(test_df.columns[:-1]):
        counts = cvecs[i].transform(sample[col].split()).toarray()
        probs = models[i].predict_log_proba(counts)
        prob_sum = [sum(x) for x in zip(prob_sum, probs[0])]
        
    return classes[prob_sum.index(max(prob_sum))]

# Test model
right = 0
wrong = 0
for i in range(len(test_df)):
    actual = test_labels[i]
    prediction = classify_test_df_at(i)
    print(str(i) + ") Prediction: " + prediction + " | Actual: " + actual)
    if prediction == actual:
        right += 1
    else:
        wrong += 1

print(str(right) + " correct predictions")
print(str(wrong) + " failed predictions")
print(str(right/len(test_df)*100) + "% success rate")

0) Prediction: private | Actual: private
1) Prediction: finance | Actual: finance
2) Prediction: leisure | Actual: leisure
3) Prediction: standardOfLiving | Actual: standardOfLiving
4) Prediction: living | Actual: leisure
5) Prediction: standardOfLiving | Actual: standardOfLiving
6) Prediction: standardOfLiving | Actual: standardOfLiving
7) Prediction: leisure | Actual: leisure
8) Prediction: leisure | Actual: leisure
9) Prediction: leisure | Actual: leisure
10) Prediction: finance | Actual: finance
11) Prediction: income | Actual: income
12) Prediction: private | Actual: private
13) Prediction: leisure | Actual: leisure
14) Prediction: standardOfLiving | Actual: finance
15) Prediction: private | Actual: private
16) Prediction: finance | Actual: finance
17) Prediction: living | Actual: living
18) Prediction: finance | Actual: finance
19) Prediction: private | Actual: private
20) Prediction: income | Actual: income
21) Prediction: living | Actual: living
22) Prediction: standardOfLiving | Actual: leisure
23) Prediction: standardOfLiving | Actual: standardOfLiving
24) Prediction: standardOfLiving | Actual: standardOfLiving
25) Prediction: leisure | Actual: leisure
26) Prediction: leisure | Actual: leisure
27) Prediction: finance | Actual: finance
28) Prediction: leisure | Actual: leisure
29) Prediction: standardOfLiving | Actual: standardOfLiving
30) Prediction: standardOfLiving | Actual: standardOfLiving
31) Prediction: income | Actual: income
32) Prediction: standardOfLiving | Actual: standardOfLiving
33) Prediction: private | Actual: private
34) Prediction: leisure | Actual: leisure
35) Prediction: finance | Actual: finance
36) Prediction: finance | Actual: finance
37) Prediction: finance | Actual: finance
38) Prediction: finance | Actual: living
39) Prediction: income | Actual: income
40) Prediction: standardOfLiving | Actual: standardOfLiving
41) Prediction: private | Actual: private
42) Prediction: leisure | Actual: leisure
43) Prediction: leisure | Actual: leisure
44) Prediction: private | Actual: finance
45) Prediction: private | Actual: private
46) Prediction: finance | Actual: finance
47) Prediction: finance | Actual: finance
48) Prediction: leisure | Actual: leisure
49) Prediction: leisure | Actual: leisure
50) Prediction: leisure | Actual: leisure
51) Prediction: finance | Actual: finance
47 correct predictions
5 failed predictions
90.38461538461539% success rate